.navbar {
    background-color: #E50914; /* Netflix red */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 24px;
  }
  